img{
    width: 95%;
    height: auto;
}
a{
    text-decoration: none;
    color: rgb(220, 236, 250);
}
#body{
    background-color: #2f4454;
}
#container{
    width: 100%;
    height: 100%;
}
#header{
    text-align: center;
    color: rgb(220, 236, 250);
    width: 95%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}
#location{
    float: left;
    margin-left: 30%;
    margin-right: 10%;
}
#home{
    float: left;
}
    
#contact{
    float: left;
    margin-right:30%;
    margin-left: 10%;
}

#newLine{
    clear: both;
}
#slideshow{
    text-align: left;
    color: rgb(220, 236, 250);
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;    
}
.pictures{
    text-align: center;
    color: rgb(220, 236, 250);
    width: 50%;
    height: 80%;
    margin-left: 5%;
    float: left;
}
.info{
    text-align: left;
    color: rgb(220, 236, 250);
    width: 35%;
    height: 80%;
    margin-right: 5%;
    margin-left: 5%;
    float: right;
}

.slides {
    display: none;
  }

.prev, .next {
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.index {
    color: #f2f2f2;
    padding-left: 2.5%;
    text-align: left;
  }


#info h1{
    text-align: center;
}
#footer{
    text-align: center;
    color: rgb(220, 236, 250);
    width: 95%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    clear: both;
}

#contactInfo{
    color:rgb(220, 236, 250);
    text-align: center;
    margin-top: 100px;
}


#maps{
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

#nearby{
    text-align: center;
    color: rgb(220, 236, 250);
}



/*
some nice colors : #2E151B
                   #DA7B93
                   #376E6f
                   #1C3334

*/